/* @import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Prata&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  /* font-family: 'Geist Mono', monospace; */
  font-family: 'Lato', sans-serif;
}

.input {
  @apply w-full border border-gray-300 rounded-md px-3 py-2 text-sm text-gray-800 bg-white 
  focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
}

@layer base{
  html{
    scroll-behavior: smooth;
  }
}
::-webkit-scrollbar{
  display:none;
}

/* Faster marquee animation */

/* Left → Right */

@keyframes marqueeFast {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee-fast {
  display: inline-block;
  animation: marqueeFast 5s linear infinite;
}


/* Right → Left */

@keyframes marqueeReverse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-marquee-reverse {
  display: inline-block;
  animation: marqueeReverse 5s linear infinite;
}


/* Glow text */

.glow-text {
  text-shadow:
    0 0 8px rgba(0,0,0,0.2),
    0 0 16px rgba(0,0,0,0.3),
    0 0 25px rgba(0,0,0,0.4);
}



@keyframes servicesScroll {
  0%{
    transform:translateX(0);
  }
  100%{
    transform:translateX(-50%);
  }
}

.animate-services-scroll{
  animation:servicesScroll 35s linear infinite;
}


@keyframes logoScroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-logo-scroll {
  display: flex;
  width: max-content;
  animation: logoScroll 25s linear infinite;
}